---
layout: full_screen
title:  <%= widgetName %>
snippet: "My Full Page Widget"
stash_url: https://stash.hugeinc.com/projects/BOWER/repos/huge.slider/browse
categories: fullScreen
tags:
- fullScreen
---

<link rel="stylesheet" href="/css/<%= widgetName %>/main.css">

   <article class="container">
        <section id="one">
           
            <h3>Huge.FullPageWidget</h3>


            <p>'Allo, I'm a full page widget</p>
            
        </section>

        <section id="two">
            <h3>Prereqs</h3>

            <div class="well">
            <ul class="list-unstyled">
                <li><a href="http://jquery.com/">JQuery</a></li>
                <li><a href="http://ricostacruz.com/jquery.transit/">Transit</a></li>
            </ul>
            </div>

            <h3>Compatibility</h3>

            <div class="well">
            <ul class="list-unstyled">
                <li>IE9+</li>
                <li>Chrome, Opera, lynx</li>
            </ul>
            </div>
        </section>

        <section id="three">
            <h3>Usage</h3>

<div>
{% highlight js %}
$(document).ready(function() {
        new FullPageWidget();
  });
{% endhighlight %}

{% highlight sass %}
section {
    position: relative;
}
html, body, article {
    height: 100%;
}

html, body {
    overflow: hidden;
}
{% endhighlight %}
</div>
        </section>

        <section id="four">
            <h3>Options</h3>

            <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
               <tr>
                 <th style="width: 10%;">Name</th>
                 <th style="width: 10%;">type</th>
                 <th style="width: 10%;">default</th>
                 <th style="width: 70%;">description</th>
               </tr>
              </thead>
              <tbody>
               <tr>     
                 <td>animation</td>
                 <td>boolean or the string <code>'static'</code></td>
                 <td>true</td>
                 <td>Includes a modal-backdrop element. Alternatively, specify <code>static</code> for a backdrop which doesn't close the modal on click.</td>
               </tr>
               </tbody>
               </table>
        </section>

    </article>


<script src="/js/<%= widgetName %>/main.js"></script>
